<div fxLayout="column">
  <mat-card fxFlex style="width: 50%; margin-left: 18%; background-size: 25%;">
    <mat-card-title>
      <!-- Image from https://www.freeimages.com/photo/post-it-1415524-639x675.png -->
      <img src="../../../assets/post-it-1415524-639x675.jpg" />
    </mat-card-title>
     <!--  <br/>
    <mat-card-content style="text-align: center; padding-left: 30%;">
      <button mat-raised-button color="accent" routerLink="/">Return home</button>
    </mat-card-content> -->
  </mat-card>
</div>
