
<body class="main-body">
  <div fxLayout="column" class="main-welcome">

    <h1 class="title">
      What is nodebucket? <br />
    </h1>
      <div fxLayout="column" class="subtitle">

        We like to be organized!  We like to make lists!  Work lists, chores lists, honey-do lists... Any activity in life can easily have a list of tasks associated with it.  Every day is a series of activities as well.  It's easy to lose track and not all of us are fortunate enough to have a personal assistant.
        <p>
Let our app be that for you!  Let nodebucket be your personal assistant!  nodebucket is a task management software designed to simplify the way you create, track, edit and delete time sensitive material.  Whether it be on the laptop, or on the go via mobile device, nodebucket can literally be everywhere you are and you will have the ability to easily update the events in your day.
        </p>
<i>Testimonial:</i>
As a mother of two and full time student, nodebucket has been a life-saver!  I know first hand how quickly the day goes by and how much needs to be accomplished in a day.  For example, make breakfast, take the kids to school, do homework, plan dinner, go the grocery store, pick up kids from school, take my son to basketball practice, go to my daughter's volleyball game...  This is just a high-level of what can be packed into one single day.  And this doesn't even include the fine details like do dishes, wash uniforms, get gas!  The ability to easily create a task and move it from a todo list to done list has taken some stress out of my day.  It helps keep my day organized so I can focus on what matters most, my family.

</div>


  </div>

  </body>
