.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 25px;
}

.grid-container__item {
  padding: 20px;
  font-size: 30px;
}

.main-welcome {
  margin-top: 10px;
}

.main-body {
  /* Image from https://www.freeimages.com/photo/notepaper-1153084-639x624 */
  background-image: url("../../../assets/notepaper-1153084-639x624.jpg");
  /* background-size: 50%; */
  background-repeat: space;
}

.title {
  text-align: center;
  font-weight: lighter;
  }

.subtitle {
  text-align: center;
  font-size: 16px;
}
