.logo {
  margin-left: 75px;
  font-size: 24px;
  font-weight: lighter;
}
.header {

  background-color: lemonchiffon;
}

.navbar-container {
  padding: 5px;
  color: orange;

}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

.main-content {
 padding-left: 30px;
}

.main-body {
  padding-left: 30px;
  /* Image from https://www.freeimages.com/photo/notepaper-1153084-639x624 */
  background-image: url("../../../assets/notepaper-1153084-639x624.jpg");
  background-size: 150%;
  background-repeat: space;

}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;

}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
  background-color: lemonchiffon;
  color: orange;

}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}
